* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 16px;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

window {
  background-color: rgba(10, 10, 10, 0.7);
}

button {
  color: #d4d4d4;
  background-color: rgba(28, 28, 28, 0.9);
  border: 2px solid rgba(176, 176, 176, 0.22);
  border-radius: 12px;
  outline-style: none;

  background-repeat: no-repeat;
  background-position: center 34%;
  background-size: 40%;

  min-width: 190px;
  min-height: 190px;
  margin: 8px;
  padding: 104px 0 18px 0;

  transition: all 0.25s cubic-bezier(0.22, 1, 0.36, 1);
}

button:focus,
button:active,
button:hover {
  background-color: rgba(45, 45, 45, 0.97);
  border-color: rgba(176, 176, 176, 0.95);
  background-size: 46%;
}

#lock {
  background-image: url("icons/lock.png");
}

#suspend {
  background-image: url("icons/suspend.png");
}

#logout {
  background-image: url("icons/logout.png");
}

#shutdown {
  background-image: url("icons/shutdown.png");
}

#reboot {
  background-image: url("icons/reboot.png");
}
